<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body
    class="flex items-center justify-center h-screen bg-gradient-to-r from-teal-900 to-emerald-500"
  >
    <div class="max-w-md p-6 bg-zinc-700 shadow-lg rounded-lg text-center">
      <h1 class="text-red-600"><%= status %></h1>
      <p class="text-lg font-semibold mt-4 mb-5"><%= message %></p>
      <a href="/" class="btn-primary">Go Home</a>
    </div>
  </body>
</html>
