<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join the Club</title>
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <h1>Enter the Correct Password to Become a Member of the Cluuuub!</h1>
      <form action="/join-the-club/<%= user.id %>" method="post">
        <input type="text" name="passcode" id="passcode" />
        <button class="btn-primary">Join the Club</button>
      </form>
    </main>
  </body>
</html>
