<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join the Club</title>
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body class="bg-gradient-to-r from-teal-900 to-emerald-500">
    <%- include('partials/header') %>
    <main class="flex justify-center text-center mt-20">
      <div class="flex flex-col justify-center bg-zinc-700 w-xl p-10">
        <h1>Enter the Correct Password to Become a Member of the Cluuuub!</h1>
        <form
          action="/join-the-club"
          method="post"
          class="flex flex-col space-y-3 p-5 w-full"
        >
          <input
            type="text"
            name="passcode"
            id="passcode"
            class="h-15 text-4xl font-bold text-center"
          />
          <p>Clue: Look for my github username.</p>
          <button class="btn-primary mt-5">Join the Club</button>
          <% if(errors) { errors.forEach(error => {%>
          <section>
            <p class="text-red-500"><%= error.msg %></p>
          </section>
          <%})} %>
        </form>
      </div>
    </main>
  </body>
</html>
